<div class="row">
  <div class="col-12">
    <div class="content-header">Campaigns</div>
  </div>
</div>
<!-- Basic Inputs start -->
<section id="basic-input">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Create New Campaign</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form [formGroup]="campaignForm">
              <div class="row">
             

                  <div class="col-md-8">
                  <fieldset class="form-group">
                    <label for="basicInput">Campaign Description</label>
                    <textarea
                      type="text"
                      class="form-control"
                      id="basicInput"
                      placeholder="Enter Message"
                      rows = "5"
                      formControlName="description"
                   
                    >  </textarea>
                  </fieldset>
                </div>
                <br>

                   <div class="col-md-4">
                  <fieldset class="form-group">
                    <label for="basicInput">Bonus Amount</label>
                    <input
                      type="number"
                      class="form-control"
                      id="basicInput"
                      placeholder="Enter Amount"
                      formControlName="amount"
               
                    />
                  </fieldset>
                </div>

                  <div class="col-md-4">
                  <fieldset class="form-group">
                    <label for="basicInput">Hours to drive</label>
                    <input
                      type="number"
                      class="form-control"
                      id="basicInput"
                      placeholder="Enter Hours"
                      formControlName="hours"
               
                    />
                  </fieldset>
                </div>

                  <div class="col-md-4">
                  <fieldset class="form-group">
                    <label for="basicInput">No of Trips to be completed to qualify</label>
                    <input
                      type="number"
                      class="form-control"
                      id="basicInput"
                      placeholder="Enter number of trips"
                      formControlName="no_trips"
               
                    />
                  </fieldset>
                </div>
               
               
               
            
              </div>
              <button class="btn btn-primary" type="submit" (click)="sub()">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Basic Inputs end -->
